.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F4F9; // 非常に薄いグレー
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // 少し影を入れる
    padding: 0 16px;
    
    &__logo img {
      font-weight: bold;
      width: 70px;
      height: auto;
    }
    
    &__top-menu {
        
      a {
        text-decoration: none;
        margin: 0 10px;
        color: #333;
        
        &:hover {
          color: #000;
        }
      }
    }

    &__user-menu {
      position: relative;
      button {
        background: none;
        border: none;
        cursor: pointer;
        
        .arrow-down {
          margin-left: 5px;
        }
      }

      .header__popup-menu {
        display: none; /* 初期状態では非表示 */
        position: absolute;
        right: 0;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        z-index: 100;

        &__item {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          color: #333;
          cursor: pointer;
          
          &:hover {
            background-color: #eee;
          }
        }
      }
      
      &.header__user-menu--open .header__popup-menu {
          display: block; /* メニューが開いた状態で表示 */
      }
    }
}
