$color-primary: #E0E0E0;
$color-secondary: #F7F7F7;
$color-base-icon: #90A4AE;
$color-hide: #BDBDBD;
$color-white: #FFFFFF;
$color-question: #9E9E9E;
$color-completed: #4DB6AC;
$color-current: #3F51B5;
$color-sub-current: #BAC1EB;
$color-sub2-current: #F5F7FF;
$color-resume: #959DCA;
$color-text: #222222;
