@import "../../styles/color.scss";


.header {
    margin-top: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    &__back {
        text-decoration: none;
        display: flex;
        align-items: center;
        position: absolute;
        top: -5px;
        left: 47px;
        
        &__back-icon {
            font-size: 27px;
            color: $color-text;
        }   
    }
    
    &__progress-bar {
        display: flex;
        width: 57vw;
        height: 17px;


        &__completed {
            background-color: $color-current;
            border-radius: 8px 0 0 8px;
            height: 100%;

        }
        &__uncompleted {
            background-color: $color-sub-current;
            border-radius: 0 8px 8px 0;

            height: 100%;
        }
    }
}

.content {
    margin-top: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: 15vw;
    margin-left: 15vw;

    &__theme {
        display: inline-block;
        border-radius: 8px;
        background-color: $color-white;
        padding: 6px 8px;
        font-weight: 540;
        font-size: 12px;
        border: 1px solid $color-primary;
        margin-bottom: 18px;

    }
    &__title {
        font-weight: 540;
        font-size: 40px;
        margin-bottom: 54px;
    }
    &__article {
        line-height: 300%;
        letter-spacing: 0.5px;
        font-size: 20px;
        margin-bottom: 80px;

        &__highlight {
            background-color: $color-sub2-current;
            padding: 10px;
            border-radius: 8px;


            &-word {
                position: relative;
            }
    
            &-word::after {
                content: '';
                position: absolute; 
                width: 100%;
                bottom: 1px;
                left: 0;
                height: 3px;
                background-color: $color-current;
            }
        }
    }

}

.next {
    display: flex;
    justify-content: center;
    gap: 30px;
}