@import "../../styles/color.scss";

.major-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82.2vw;

    &__container {
      width: 71.1vw;

    }

    &__wrapper {
      margin-bottom: 39px;
        &__text {
          font-size: 28px;
          font-weight: 510;
          margin-bottom: 2.5vh;
        }

        &__list {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-gap: 32px;
        }

        &__item {
          display: block;
          border: 1px solid $color-primary;
          border-radius: 8px;
          aspect-ratio: 1/1;
          position: relative;
          text-decoration: none;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &.active {
            width: 13.8vw;
          }
          &.locked {
            background-color: $color-secondary;
          }

          &.all {
            width: 10vw;
          }

          &:active {
            background-color: $color-primary;
          }

          &:hover {
            background-color: $color-secondary;
          }

          &-status-icon, &-book-icon, &-level {
            position: absolute;
          }

          &-status-icon {
            left: 5.5%;
            top: 5.5%; 
            color: $color-base-icon;

            &.unlocked {
              color: $color-base-icon;
            }
            &.locked {
              color: $color-hide;
            }
            &.completed {
              color: $color-completed;
            }
          }

          &-help-container {
            left: 75.5%;
            top: 5.5%;
            width: 35px;
            position: relative;
            cursor: default;
          }

          &-help-icon {
            color: $color-question;
          }

          &-book-icon {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $color-base-icon;

            &.unlocked {
              color: $color-base-icon;
            }
            &.locked {
              color: $color-hide;
            }
            &.completed {
              color: $color-completed;
            }
          }

          &-level {
            left: 50%;
            top: 77.5%;
            transform: translateX(-50%);
            color: $color-font;

            &.unlocked {
              font-size: 20px;
            }
            &.all {
              font-size: 16px;
            }
          }

        }
    }

 
}
