@import "../styles/color";

//base style
body {
    color: $color-font;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    margin: 0;
}

.app-container {
    display: flex;
}

.main-container {
    display: flex;
    flex-direction: column;
}